*{
    margin: 0;
    padding:0;
    color: black;
}

body{
    font-family: my-font;
}

i{
    font-family: 'FontAwesome';
}

#container{
    height: 100vh;
    width: 100%;
    background-color: #F0F4F3;
    display: flex;
    flex-flow: row wrap; /*flex-direction flex-wrap*/
    align-items: center;
    justify-content: center;
}

#middle{
    border: 1px solid red;
    height: 80vh;
    width: 65%;
}

#left{
    border: 1px solid blue;
    height: 80vh;
    width: 34.4%;
    float: left;
    background-color: #38B593;
}

.font{
    border: 1px solid purple;
    height: 10vh;
}

.fal{
    /* border: 1px solid yellow;
    height: 10vh;
    width: 15%; */
    float: left; 
    color: #8CDAC8;
    margin: 0 0 0 8px;
}
#dip{
    margin: 22px 0 0 0;
    color: #8CDAC8;
    font-family: 'Archivo Black', sans-serif;
    font-size: x-small;
}

.mid{
    border: 1px solid red;
    height: 30vh;
    display: flex;
    flex-flow: row wrap; /*flex-direction flex-wrap*/
    align-items: center;
    justify-content: center;
    margin: 90px 0 0 0;
}

#wel{
    font-family: 'Archivo Black', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: #F7FAFD;
}

#plog{
    font-family: 'Archivo Black', sans-serif;
    font-size: smaller;
    font-weight: 700;
    color: #94D9CC;
}

.mid .btn-primary
{
    float: right;
    border-radius: 1.5rem;
    border: 2px solid #77CBB7;
    width: 180px;
    background-color: #38B593;
    font-weight: 800;
    font-size: x-small;
    color: #9DD6CB;
    padding: 10px;
}

#right{
    border: 1px solid green;
    height: 80vh;
    width: 65.6%;
    margin: 0 0 0 305px;
    background-color: #FFFFFF;
}

.mic{
    border: 1px solid blue;
    height: 58vh;
    margin: 80px 0 0 0;
}

.dot{
    border: 1px solid #F4F4F4;
    height: 28px;
    width: 28px;
    display: inline-block;
    border-radius: 50%;
    background-color: #FEFEFE;
}

#first{
    border: 1px solid #F4F8F7;
    height: 5vh;
    width: 260px;
    margin: 0 0 5px 0;
    background-color: #F4F8F7;
}

#second{
    border: 1px solid #F4F8F7;
    height: 5vh;
    width: 260px;
    margin: 0 0 5px 0;
    background-color: #F4F8F7;
}

#third{
    border: 1px solid #F4F8F7;
    height: 5vh;
    width: 260px;
    margin: 0 0 5px 0;
    background-color: #F4F8F7;
}

.mic .btn-primary
{
    border-radius: 1.5rem;
    border: 2px solid #3AAEA1;
    width: 180px;
    background-color: #3AAEA1;
    font-weight: 800;
    font-size: x-small;
    color: #9DD6CB;
    padding: 10px;
}
